<h1 class="text-center text-5xl font-semibold uppercase">app météo</h1>
<div class="flex justify-center items-center">
  <div class="w-[400px] h-[80vh] bg-yellow-500 rounded-xl">
    <div
      class="upper-data relative overflow-hidden w-full h-1/2 rounded-tl-xl rounded-tr-xl"
    >
      <img
        class="absolute top-0 left-0 w-full h-full"
        src=""
        alt=""
        *ngIf="14 > 15"
      />
      <img
        class="absolute top-0 left-0 w-full h-full"
        src=""
        alt=""
        *ngIf="14 <= 15"
      />
    </div>
    <div class="lower-data"></div>
  </div>
</div>
<router-outlet></router-outlet>
