<div *ngIf="weatherData">
  <h2>{{ weatherData.name }}</h2>
  <p>{{ weatherData.weather[0].description }}</p>
  <p>{{ formatTemperature(weatherData.main.temp) }}°C</p>
  <p>{{ formatTemperature(weatherData.wind.speed) }} km/h</p>
  <p>{{ formatTemperature(weatherData.wind.deg) }} Deg</p>
  <p>{{ formatTemperature(weatherData.main.humidity) }} %</p>
</div>

<div *ngIf="weatherData">
  <h2>{{ weatherData.city.name }}</h2>
  <div *ngFor="let forecast of weatherData.list">
    <p>{{ forecast.dt_txt }}</p>
    <p>{{ forecast.main.temp }}°C</p>
    <p>{{ forecast.weather[0].description }}</p>
  </div>
</div>